<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="deu.sw.greenhouse"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true" >
        <activity android:name=".activity.GreenHouseMainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ARPreviewActivity" >
        </activity>
        <activity android:name=".activity.IBeaconSearchActivity" >
        </activity>
        <activity android:name=".activity.SettingActivity" >
        </activity>
        <activity android:name=".activity.DetailGraphActivity"></activity>

        <service
            android:name=".mqtt.PushService"
            android:label="MQTT Push Notifications Service" >
        </service>
        <service
            android:name="com.aprilbrother.aprilbrothersdk.service.BeaconService"
            android:exported="false" >
        </service>
    </application>

</manifest>